/* nothing */

* {
    color: #00ff00;
    background-color: black;
}

body {
    color: #00ff00;
    font-size: 1em;
    background-color: black;
    margin-left: 3px;
    margin-right: 3px;
    overflow: hidden;
}

#screen {
    overflow: auto;
}

#terminal {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera 4 - 6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap;
}

#prompt {
    width: 100%;
    border-style: none;
    background-color: #00ff00;
    color: black;
}


